services:
  cassandra:
    image: cassandra:latest
    container_name: cassandra
    ports:
      - "9042:9042"
    environment:
      - CASSANDRA_CLUSTER_NAME=DevCluster
      - CASSANDRA_RPC_ADDRESS=0.0.0.0
    volumes:
      - ./cassandra_data:/var/lib/cassandra
    networks:
      - cassandra-net
    healthcheck:
      test: ["CMD-SHELL", "[ $$(nodetool statusgossip) = running ]"]
      interval: 30s
      timeout: 10s
      retries: 5

  schema-loader:
      image: cassandra:latest
      networks:
        - cassandra-net
      depends_on:
        cassandra:
          condition: service_healthy
      volumes:
        - ./Cassandra/schema.cql:/schema.cql
      entrypoint: ["/bin/bash", "-c", "echo 'Waiting for cassandra'; sleep 30; cqlsh cassandra -f /schema.cql; echo 'Schema loaded'"]

  app:
      build:
        context: .
        dockerfile: Dockerfile
      container_name: ticketsnatcher-app
      ports:
        - "1234:1234"
      environment:
        - CASSANDRA_HOST=cassandra
      depends_on:
        schema-loader:
          condition: service_completed_successfully
      networks:
        - cassandra-net

volumes:
  cassandra_data:  
networks:
  cassandra-net:
    driver: bridge