services:
  cassandra:
    image: cassandra:latest
    container_name: cassandra
    ports:
      - "9042:9042"
    environment:
      - CASSANDRA_CLUSTER_NAME=DevCluster
      - CASSANDRA_RPC_ADDRESS=0.0.0.0
    volumes:
      - ./cassandra_data:/var/lib/cassandra
    networks:
      - cassandra-net
    healthcheck:
      test: ["CMD-SHELL", "[ $$(nodetool statusgossip) = running ]"]
      interval: 30s
      timeout: 10s
      retries: 5

networks:
  cassandra-net:
    driver: bridge