services:
  # --- WĘZEŁ 1 (SEED - LIDER) ---
  cassandra-1:
    image: cassandra:latest
    container_name: cassandra-1
    restart: always
    environment:
      - CASSANDRA_CLUSTER_NAME=TicketCluster
      - CASSANDRA_RPC_ADDRESS=0.0.0.0
      - CASSANDRA_ENDPOINT_SNITCH=GossipingPropertyFileSnitch
      - CASSANDRA_SEEDS=cassandra-1
      # Opcjonalne: Zmniejsz apetyt na RAM dla laptopa
      - MAX_HEAP_SIZE=512M
      - HEAP_NEWSIZE=100M
    ports:
      - "9042:9042"
    networks:
      - cassandra-net
    healthcheck:
      # Sprawdzamy, czy port nasłuchuje (lżejsze niż nodetool na start)
      test: ["CMD-SHELL", "cqlsh -e 'describe cluster' || exit 1"]
      interval: 20s
      timeout: 10s
      retries: 20
      start_period: 60s

  # --- WĘZEŁ 2 ---
  cassandra-2:
    image: cassandra:latest
    container_name: cassandra-2
    restart: always
    environment:
      - CASSANDRA_CLUSTER_NAME=TicketCluster
      - CASSANDRA_RPC_ADDRESS=0.0.0.0
      - CASSANDRA_ENDPOINT_SNITCH=GossipingPropertyFileSnitch
      - CASSANDRA_SEEDS=cassandra-1
      - MAX_HEAP_SIZE=512M
      - HEAP_NEWSIZE=100M
    depends_on:
      cassandra-1:
        condition: service_healthy # CZEKA AŻ 1 BĘDZIE GOTOWA
    networks:
      - cassandra-net

  # --- WĘZEŁ 3 ---
  cassandra-3:
    image: cassandra:latest
    container_name: cassandra-3
    restart: always
    environment:
      - CASSANDRA_CLUSTER_NAME=TicketCluster
      - CASSANDRA_RPC_ADDRESS=0.0.0.0
      - CASSANDRA_ENDPOINT_SNITCH=GossipingPropertyFileSnitch
      - CASSANDRA_SEEDS=cassandra-1
      - MAX_HEAP_SIZE=512M
      - HEAP_NEWSIZE=100M
    depends_on:
      cassandra-1:
        condition: service_healthy # CZEKA AŻ 1 BĘDZIE GOTOWA
    networks:
      - cassandra-net

  # --- INICJALIZACJA BAZY ---
  schema-loader:
    image: cassandra:latest
    networks:
      - cassandra-net
    depends_on:
      cassandra-1:
        condition: service_healthy
    volumes:
      - ./Cassandra/schema.cql:/schema.cql
    entrypoint:
      [
        "/bin/bash",
        "-c",
        "echo 'Waiting for Cassandra...'; sleep 10; cqlsh cassandra-1 -f /schema.cql; echo 'Schema loaded'",
      ]

  # --- APLIKACJA ---
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ticketsnatcher-app
    stdin_open: true
    tty: true
    environment:
      - CASSANDRA_HOSTS=cassandra-1,cassandra-2,cassandra-3
    depends_on:
      schema-loader:
        condition: service_completed_successfully
      cassandra-1:
        condition: service_healthy
    networks:
      - cassandra-net

networks:
  cassandra-net:
    driver: bridge
